# Database
IDENTITY_DB_HOST=postgres
IDENTITY_DB_PORT=5432
IDENTITY_DB_USERNAME=postgres
IDENTITY_DB_PASSWORD=postgres
IDENTITY_DB_DATABASE=dispatch_db_identity
IDENTITY_DB_SYNCHRONIZE=true
IDENTITY_DB_LOGGING=false
