# Database
NOTIFICATIONS_DB_HOST=postgres
NOTIFICATIONS_DB_PORT=5432
NOTIFICATIONS_DB_USERNAME=postgres
NOTIFICATIONS_DB_PASSWORD=postgres
NOTIFICATIONS_DB_DATABASE=dispatch_db_notifications
NOTIFICATIONS_DB_SYNCHRONIZE=true
NOTIFICATIONS_DB_LOGGING=false

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://redis:6379

# Application
NOTIFICATIONS_APP_PORT=3000

# Keys
INTERNAL_SERVICE_KEY=your_internal_service_key_here

# Cache
NOTIFICATIONS_CACHE_TTL=300000

# Debug Settings (optional)
NOTIFICATIONS_LOG_LEVEL=debug
NOTIFICATIONS_TYPEORM_LOGGING=false

# Test Environment
TEST_ENV=false
SEED_TEST_DATA=true

# Node Environment
NODE_ENV=production # Possible values: local, production
