# Database
NOTIFICATIONS_DB_HOST=postgres
NOTIFICATIONS_DB_PORT=5432
NOTIFICATIONS_DB_USERNAME=postgres
NOTIFICATIONS_DB_PASSWORD=postgres
NOTIFICATIONS_DB_DATABASE=dispatch_db_notifications
NOTIFICATIONS_DB_SYNCHRONIZE=true
NOTIFICATIONS_DB_LOGGING=false
