# Database
CATALOG_DB_HOST=postgres
CATALOG_DB_PORT=5432
CATALOG_DB_USERNAME=postgres
CATALOG_DB_PASSWORD=postgres
CATALOG_DB_DATABASE=dispatch_db_catalog
CATALOG_DB_SYNCHRONIZE=true
CATALOG_DB_LOGGING=false
