# Database
CATALOG_DB_HOST=postgres
CATALOG_DB_PORT=5432
CATALOG_DB_USERNAME=postgres
CATALOG_DB_PASSWORD=postgres
CATALOG_DB_DATABASE=dispatch_db_catalog
CATALOG_DB_SYNCHRONIZE=true
CATALOG_DB_LOGGING=false

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://redis:6379

# Application
CATALOG_APP_PORT=3000

# Keys
INTERNAL_SERVICE_KEY=your_internal_service_key_here

# Cache
CATALOG_CACHE_TTL=300000

# Debug Settings (optional)
CATALOG_LOG_LEVEL=debug
CATALOG_TYPEORM_LOGGING=false

# Test Environment
TEST_ENV=false
SEED_TEST_DATA=true

# Node Environment
NODE_ENV=production # Possible values: local, production
