# API
API_VERSION=1.0.0
API_TITLE=Dispatch API
API_DESCRIPTION=E-commerce API built with NestJS microservices architecture.

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://redis:6379

# Message Broker
BROKER_URL=amqp://rabbitmq:5672

# Cache
CACHE_TTL=300000

# JWT Settings
JWT_ACCESS_SECRET=079289fa8f21332c670c70773153c5d5e7705aeff3561eb2f5123cc4c8e4aec7
JWT_REFRESH_SECRET=f8c2e91d47ba6f023c4d7e8a1e9b2f46c3e5d9a7b8f1c4e6d8a2b5f7c9e1a3d6
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Debug Settings
LOG_LEVEL=info # Possible values: error, warn, info, debug

# Test Environment
TEST_ENV=false
SEED_TEST_DATA=true

# Node Environment
NODE_ENV=production # Possible values: local, production
